/* src/pages/PopularPostsPage.module.css */
.page {
  width: 100%; /* 화면 너비와 맞춤 */
  min-height: 100vh; /* 화면 높이와 최소한으로 맞춤 */
  margin: 0; /* 자동 마진을 없애서 양 옆이 꽉 차게 함 */
  padding: 16px;
  box-sizing: border-box; /* 패딩을 포함한 총 너비가 100%가 되도록 함 */
}

.header {
  text-align: center;
  margin-bottom: 5rem;
}

.cate_nave {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
