.container {
  display: flex;
  list-style-type: none;

  width: 30%;
  justify-content: space-between;
}
.li {
  color: #222;
  font-weight: 500;
  font-size: 1.2rem;
}
.li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}

.active {
  font-weight: 900;
}
