.mainPage {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
}
.contentWrapper {
  flex: 1; /* 내용이 적을 경우 footer를 아래로 밀어내기 위해 사용 */
  overflow: auto; /* 필요한 경우 스크롤 허용 */
}
.title {
  font-size: 3rem;
  font-weight: 600;
  margin: 4rem auto 0 auto;
}

/* Adjusted the styling of h1 to match the font size and weight from the image */
.mainPage h1 {
  font-size: 36px; /* Adjusted the font size to match the image */
  font-weight: bold; /* Make the font bold */
  color: #333;
  margin-bottom: 20px; /* Add some margin below the heading */
  text-align: center;
  margin-top: 40px; /* Added margin at the top to push content down */
}

.sectionsContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-gap: 3.5rem; /* Space between the columns */
  margin-top: 20px; /* Additional top margin */
  padding: 0 1rem 1rem 1rem;
}

.section {
  /* border: 1px solid #ccc; */
  padding: 20px; /* Padding inside each section */
  margin-top: 1rem;
}
.section:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.section_header {
  padding-bottom: 0.2rem;
  margin-bottom: 0.8rem;
  border-bottom: #dbdbdb 1.8px solid;
  display: flex;
  justify-content: space-between;
}
.section_header:hover {
  cursor: pointer;
}
.section_title {
  font-size: 1.4rem;
  font-weight: 800;
}
.see_more {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Adjust the style of the news items */
.newsItem {
  /* background-color: #f8f8f8;  */
  /* border-bottom: 1px solid #eaeaea;  */
  /* padding: 10px 20px;  */
  margin-bottom: 10px; /* Space between news items */
  /* transition: background-color 0.3s; */
}

.newsItem:hover {
  font-weight: 600;
  cursor: pointer;
}

/* Style for the search bar, adjust as needed */
.searchBarContainer {
  display: flex;
  justify-content: center; /* Center the search bar container */
  margin: 40px 0; /* Space above and below the search bar */
}

.searchBar input[type="text"] {
  width: 100%; /* Full width */
  padding: 10px;
  border: 1px solid #ccc; /* Match the border of the sections */
  border-radius: 4px; /* Rounded corners */
  margin-right: 10px; /* Space between input and button */
}

.searchBar button {
  padding: 10px;
  border: none;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}
.contentWrapper {
  flex: 1; /* This will make the content grow and push the footer */
  overflow: auto; /* Add scroll to the content wrapper if needed */
  margin-top: 4rem;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .sectionsContainer {
    grid-template-columns: 1fr; /* Stack sections on smaller screens */
  }
}
